.root {
  --swiper-theme-color: rgb(var(--yellow) / 100%);
  --swiper-pagination-color: rgb(var(--red) / 100%);
  --swiper-pagination-top: 30.5rem;
  --swiper-pagination-bottom: auto;
  --swiper-pagination-bullet-size: 1rem;
  --swiper-pagination-bullet-horizontal-gap: 0.375rem;
  --swiper-pagination-bullet-inactive-color: rgb(var(--yellow) / 100%);
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.root :global(.swiper-horizontal) {
  @apply left-1/2 w-screen -translate-x-1/2 pb-28 sm:left-0 sm:w-full sm:translate-x-0 lg:pb-40;
}

.root :global(.swiper-wrapper) {
  @apply rem:h-[440px] lg:rem:h-[641px];
}

.root :global(.swiper-pagination-horizontal) {
  @apply text-[0] leading-[0] rem:top-[482px] lg:rem:top-[704px];
}

.root
  :global(
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet
  ) {
  @apply m-1.5 transition-all lg:m-2 lg:rem:h-[18px] lg:rem:w-[18px];
}
