@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 247 242;
  --foreground: 0 0 0;

  --yellow: 255 199 66;
  --red: 214 65 0;
  --blue: 13 70 117;
  --green: 5 109 64;
  --gold: 187 102 0;

  --border: 217 216 216;

  --input: 250 250 250;
  --input-border: 226 212 199;
  --input-placeholder: 173 173 173;
  --input-hover-placeholder: 132 132 132;
  --input-error-border: var(--red);
  --input-success-border: var(--green);
  --input-disabled-border: 243 233 225;
  --input-disabled-placeholder: 202 202 202;

  --arrow: 133 133 133;

  --button-primary: var(--red);
  --button-primary-hover: 234 85 20;
  --button-primary-disabled: 229 133 92;
  --button-secondary: 255 255 255;
  --button-secondary-hover: 254 253 252;
  --button-secondary-disabled: 254 253 252;
}

@media (min-width: 1024px) and (max-width: 1535px) {
  html {
    font-size: 14px;
  }
}

textarea {
  resize: none;
}
