@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 247 242;
  --foreground: 0 0 0;

  --yellow: 255 199 66;
  --red: 214 65 0;

  --border: 217 216 216;

  --input: 250 250 250;
  --input-border: 226 212 199;
  --input-placeholder: 173 173 173;
}

body {
  font-size: 20px;
  line-height: 25.1px;
}
