.form-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

a.breadcrumps-link {
  text-decoration: underline;
}

.event_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button-light {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 300;
}
.button-light:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.bg-main-pic {
  /* background-color: var(--blue);
  background-image: url('/images/main-pic.jpg');   */
  background: #0c4876 url('/images/main-pic-sm.jpg') no-repeat;
  background-size: contain; /* Растягиваем изображение по ширине на 100%, по высоте — на 200% */
  background-position: top center; /* Фиксируем фоновое изображение сверху */
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .bg-main-pic {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .bg-main-pic {
    background: #0c4876 url('/images/main-pic.jpg') no-repeat;
    background-size: cover;
  }
}
.events > div:last-child > .event_item {
  border-bottom: 0 !important;
}
.instagram-feed {
}
.instagram-post {
}

.glowing-text {
   text-shadow: 0 0 10px rgba(255, 241, 231, 0.25), 0 0 20px rgba(255, 241, 231, 0.25), 0 0 30px rgba(255, 241, 231, 0.25);

}
