.form-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

a.breadcrumps-link {
  text-decoration: underline;
}

.event_item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button-light {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 300;
}
.button-light:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.bg-main-pic {
  /* background-color: var(--blue);
  background-image: url('/images/main-pic.jpg');   */
  background: #0c4876 url('/images/main-pic-sm.jpg') no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  .bg-main-pic {
    background: #0c4876 url('/images/main-pic.jpg') no-repeat;
    background-size: cover;
  }
}

.instagram-feed {
}
.instagram-post {
}
